*{
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
    animation: bodyShake linear 2s infinite;

}

.sky{
    height: 100vh;
    width: 100%;
    background-image: url(background.jpg);
    position: absolute;
    background-repeat: no-repeat;

}
.trees{
    height: 100vh;
    width: 100%;
    background-image: url(trees.png);
    background-size: cover;
    position: absolute;
    top: -150px;
}
.track{
    height: 40vh;
    width: 800vh;
    background-image: url(track.png);
    background-size: cover;
    position: absolute;
    top: 70vh; 
    animation: carMoves linear 6s infinite;
}

.car{
    height: 100px;
    width: 380px;
    background-image: url(car_body.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 444px;
    bottom: 80px;
    animation: Shake linear 2s infinite;
}


.wheel1 img{
    width: 77px;
    position: relative;
    top: 39px;
    left: 42px;
    animation: wheelRotation linear .16s infinite;
}
.wheel2 img{
    width: 77px;
    position: relative;
    top: -40px;
    left: 234px;
    animation: wheelRotation linear .16s infinite;
}

@keyframes wheelRotation 
{
    100%{
        transform: rotate(360deg);
    }    
}
@keyframes carMoves 
{
    100%{
        transform: translateX(-500vh);
    }    
}

@keyframes Shake 
{
    0%{
        transform: translateY(-5px);
    } 
    50%{
        transform: translateY(5px);
    } 
    100%{
        transform: translateY(-5px);
    }    
}

@keyframes bodyShake 
{
    0%{
        transform: translateY(-50px);
    } 
    50%{
        transform: translateY(50px);
    } 
    100%{
        transform: translateY(-50px);
    }    
}