#ClockContainer{
    position: relative;
    margin: auto;
    height: 40vw;
    width: 40vw;
    background: url(clock.png) no-repeat;
    background-size: 100%;
}

#hour, #minute, #second{
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}

#hour{
    height: 24%;
    width: 1.8%;
    top: 23%;
    left: 49.4%;
    opacity: 0.8;
}

#minute{
    height: 28%;
    width: 1.6%;
    top: 19%;
    left: 49.4%;
    opacity: 0.8;
}

#second{
    height: 32%;
    width: 1%;
    top: 16%;
    left: 49.4%;
    opacity: 0.8;
}